{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block header %}Your cart is empty!{% endblock %}
{% block body %}
                <h4>Please, select something</h4>
{% endblock %}