{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <h1>Your cart</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Price</th>
            <th scope="col">Number</th>
            <th scope="col">Sum</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>

        {% for orderRow in orderRows %}
            <tr>
                <th scope="row">{{ orderRow.dish }}</th>
                <th scope="col">Price</th>
                <td scope="row">{{ orderRow.quantity }}</td>
                <td scope="row">price</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <h4>Total price: {{ totalSum }}</h4>
    <a type="submit" class="btn btn-warning" href="{{ path('order', { id: cart.id }) }}">Order</a>

{% endblock %}
