{% extends 'base.html.twig' %}

{% block title %}All Menu{% endblock %}
{% block header %}Sorry, something went wrong! {% endblock %}
{% block body %}
    <p>Probably, it is: {{ message }}</p>
{% endblock %}