{% extends 'base.html.twig' %}

{% block title %}Orders list{% endblock %}

{% block body %}
    <h1>All your reservations, {{ user }}.</h1>
    <h3>Orders waiting to be payed: </h3>
    <div class="list-group">
    {% for order in notPayedOrders %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Table number {{ order.reservedTable.id }}</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            {% for row in order.cart.orderRows %}
            <p class="mb-1">{{ row.dish }}</p>
            <small class="text-muted">{{ row.quantity }}</small>
            {% endfor %}
        </a>
        {% else %}
        <h3>No order found</h3>
        {% endfor %}
    </div>
{% endblock %}