{% extends 'base.html.twig' %}

{% block title %}No free tables{% endblock %}
{% block body %}
    <h1>Sorry, there is no free tables for {{ personNumber }} person.</h1>
    <h2>Please contact us or try again later.</h2>
    <h3>See you soon!</h3>
{% endblock %}